{% extends "home.html" %}

{% load static %}

{% block contenido %}
    <div class="estilo_formularios">
        <form class="formDataProfesores" action="/AppCoder/profesores/" method="POST"> {% csrf_token %}
            <input type="text" name="nombre" placeholder="Nombre">
            <input type="text" name="apellido" placeholder="Apellido">
            <input type="email" name="email" placeholder="Email">
            <input type="text" name="area" placeholder="Area">
            <button type="submit" class="btn btn-primary btndj">Registrar</button>
        </form>
    </div>
    <div class="estilo_formularios">
        <form class="formDataProfesores" action="/AppCoder/buscar_profesor/" method="GET">
            <input type="email" name="email" placeholder="Email">
            <button type="submit" class="btn btn-primary btndj">Buscar</button>
        </form>
    </div>
    <div>
        {% if profesores %}
        <ul>
            {% for profesor in profesores %}
            <li>Resultado de la busqueda:</li>
            <li>Nombre: {{profesor.nombre}}</li>
            <li>Apellido: {{profesor.apellido}}</li>
            <li>Email: {{profesor.email}}</li>
            <li>Area: {{profesor.area}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}